<main class="row mt-3">
  <div class="col-md-3">
    <section>
      <div class="d-flex justify-content-center">
        <img class="profile_picture" src="https://res.cloudinary.com/dukuzakaw/image/upload/v1663430160/ecom-coderHouse/users/oi62qdp04efq8e7fttyt.jpg" alt="Gustavo Silva">
      </div>
      <div>
        <h3 class="display-6 text-center">Gustavo Silva Navarro</h3>
        <p><span class="fw-bold">Email:</span> gusilva@itba.edu.ar</p>
        <p><span class="fw-bold">Address:</span> Vicente Lopez 320, Martinez</p>
      </div>
    </section>
  </div>

  <div class="col-md-9">
    <section>
      <h1 class="display-2 text-center">Welcome again!</h1>
      <div class="d-flex justify-content-center mt-5">
        <a href="/api/products" class="btn btn-primary btn-lg">See Products</a>
      </div>
    </section>
  </div>
</main>